name: Build and Release

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: linux
          - os: windows-latest
            artifact_name: windows
          - os: macos-13
            artifact_name: macos-intel
          - os: macos-latest
            artifact_name: macos-arm64

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install OS Dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-xinerama0

      - name: Install Dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller PyQt5
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build with PyInstaller
        shell: bash
        run: |
          pyinstaller --onefile --windowed main.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: executable-${{ matrix.artifact_name }}
          path: dist/
